//Colors
$black: #2b2a2c;
$gray: #6a696b;
$gray-light: #8d8d8e;
$white: #fff;

//Media
$mobile-sm: 'max-width: 565px';
$mobile: 'max-width: 768px';
$tablet: 'max-width: 991px';
$notebook: 'max-width: 1199px';
