.works {
	margin: 2.8rem 0;
	&__nav {
		display: flex;
		justify-content: center;
		margin-bottom: 1.4rem;
	}
	&__nav-link {
		margin: 0 1.2rem;
		font-size: 0.8rem;
		color: rgba($black, 0.7);
		transition: box-shadow 0.2s linear;
		&:hover {
			text-decoration: underline;
		}
	}
	.btn {
		@include btn;
		/*Modificators*/
		@include btn--sm;
	}
	.text-center {
		text-align: center;
	}
	.portfolio {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -1rem;
		margin-bottom: 2.8rem;
		&__col {
			flex-basis: 33.3333%;
			padding: 1rem;
		}
		.work {
			box-shadow: 0 0 4px;
			color: rgba(#000, 0.25);
			border-radius: 10px;
			overflow: hidden;
			&:hover {
				box-shadow: 0 0 25px;
			}
			&__image {
				display: block;
				max-width: 100%;
				height: auto;
			}
			&__content {
				padding: 1rem 0.8rem;
			}
			&__cat {
				font-size: 0.8rem;
				color: $black;
				text-transform: uppercase;
				margin-bottom: 0.5rem;
			}
			&__title {
				display: flex;
				justify-content: space-between;
				font-size: 1.06rem;
				color: $black;
				font-weight: 700;
			}
		}
	}
}
