//Left-side
.modal {
	&__content {
		padding: 5rem 1rem;
		text-align: center;
		@media ($mobile-sm) {
			padding-bottom: 20px;
		}
	}
	.btn__down {
		@include btn;
	}
	&__title {
		margin-bottom: 3.6rem;
		font-size: 3rem;
		text-transform: uppercase;
		color: $black;
		font-weight: 700;
		display: inline-block;
		@media ($mobile-sm) {
			font-size: 3rem !important;
			margin-bottom: 40px;
		}
	}
	.btn {
		@include btn;
		@include btn--thin;
		+ .btn {
			margin-left: 1rem;
		}
		@media ($tablet) {
			width: 30%;
			padding: 1rem;
			margin-bottom: 0;
		}
		@media ($mobile-sm) {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
			&:last-child {
				margin-left: 0;
			}
		}
	}
	.timeline {
		display: flex;
		margin: 4.2rem auto;
		width: 100%;
		max-width: 768px;
		position: relative;
		@media ($mobile-sm) {
			flex-direction: column;
			margin: 0;
		}
		&:before {
			content: '';
			display: block;
			width: 1px;
			height: 100%;
			background-color: $black;
			position: absolute;
			top: 0;
			left: 50%;
			z-index: 1;
			@media ($mobile-sm) {
				content: none;
			}
		}
		&__col {
			width: 50%;
			&--left {
				padding-right: 3.2rem;
				text-align: right;
				@media ($mobile-sm) {
					text-align: left;
					width: 100%;
					padding: 0;
				}
			}
			&--right {
				padding-left: 3.2rem;
				text-align: left;
				@media ($mobile-sm) {
					width: 100%;
					padding: 0;
				}
			}
		}
		&__title {
			margin-bottom: 2.6rem;
			font-size: 1.2rem;
			color: $black;
			text-transform: uppercase;
			font-weight: 700;
			@media ($mobile-sm) {
				margin-top: 40px;
			}
		}
		&__title--margin {
			margin-top: 2.6rem;
		}
		&__item {
			margin-bottom: 2.6rem;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&__date {
			display: block;
			margin-bottom: 0.8rem;
			text-decoration: underline;
			font-size: 0.94rem;
			color: $black;
		}
		&__subtitle {
			margin-bottom: 0.2rem;
			font-size: 1.06rem;
			color: $black;
			font-weight: 700;
		}
		&__position {
			font-size: 0.94rem;
			color: $black;
			font-style: italic;
		}
		&__text {
			margin-top: 0.8rem;
			font-size: 0.8rem;
			color: $gray;
			font-weight: 300;
			line-height: 1.5;
		}
		.progress-bar {
			display: flex;
			align-items: center;
			margin-bottom: 0.3rem;
			&__right {
				padding-left: 1.2rem;
			}
			&__item {
				width: 139px;
				height: 6px;
				background-color: #efefef;
			}
			&__title {
				font-size: 0.94rem;
				font-weight: 300;
			}
			&__progress {
				height: 100%;
				background-color: $gray;
				transition: width 0.2s linear;
			}
		}
	}
}
