.btn {
	@include btn;
	+ .btn {
		margin-left: 1rem;
	}
}

.about {
	margin: 8.4rem 0;
	&__inner {
		display: flex;
		max-width: 1090px;
	}
	&__photo,
	&__content {
		width: 50%;
	}
	&__photo {
		position: relative;
		img {
			position: relative;
			z-index: 2;
		}
		&:before {
			content: '';
			width: 413px;
			height: 413px;
			background-color: #efefef;
			position: absolute;
			left: 1rem;
			bottom: 0;
			z-index: 1;
		}
	}
	&__content {
		padding-left: 3.2rem;
		margin-top: 2rem;
	}
	&__title {
		font-size: 3rem;
		color: $black;
		font-weight: 700;
	}
	&__bigtitle {
		margin-bottom: 1.4rem;
		position: relative;
		left: -10px;
		font-size: 6.1rem;
		line-height: 1.1;
		color: rgba($black, 0.15);
		font-weight: 700;
	}
	&__text {
		margin-bottom: 2.8rem;
		font-size: 0.8rem;
		line-height: 2;
		color: $gray;
		font-weight: 300;
	}
}
