.intro {
	&__inner {
		display: flex;
		padding-top: 103px;
		padding-bottom: 120px;
		position: relative;
		background: url('../img/symbols.png') right top no-repeat;
		border-bottom: 1px solid rgba($gray, 0.3);
	}
	&__content {
		width: 50%;
	}
	&__subtitle {
		font-size: 2.13rem;
		color: $black;
	}
	&__title {
		margin-bottom: 5px;
		font-size: 3rem;
		color: $black;
		font-weight: 700;
	}
	&__text {
		font-size: 1.2rem;
		color: rgba($black, 0.7);
		margin-bottom: 25px;
	}
	&__photo {
		position: absolute;
		right: 65px;
		bottom: 0;

		// For qa-picture
		// bottom: 50px;
		// right: 65px;
		// width: 350px;
		// height: auto;
		// transform: rotate(25deg);
	}
}

.social {
	margin-bottom: 42px;
	display: flex;
	&__link {
		margin-right: 10px;
		transition: transform 0.2s linear;
		img {
			width: 45px;
			height: 45px;
		}
		&:hover {
			transform: translateY(-5px);
		}
	}
}

.btn {
	display: inline-block;
	vertical-align: top;
	padding: 1rem 1.8rem;
	min-width: 170px;
	border: 1px solid $gray;
	border-radius: 30px;
	background: none;
	font-family: inherit;
	font-size: 1.06rem;
	line-height: 1.1;
	color: $black;
	text-transform: uppercase;
	text-align: center;
	transition: background-color 0.2s linear, color 0.2s linear,
		box-shadow 0.2s linear;
	&:focus {
		outline: none;
	}
	&:hover {
		background-color: $black;
		color: $white;
		box-shadow: 2px 2px 10px rgba(#000, 0.24);
	}
	+ .btn {
		margin-left: 1rem;
	}
}
